/*!
 * Common CSS files
 */
*, ul {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #f3f3f3;
}
body, button, input, select, textarea {
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    color: #858585;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
/*-------------------------------------------------- Common & Headings CSS -----------------------------------------*/
.contentSection {
	padding: 30px 0 60px 0;
	position: relative;
}
.imgResponsive {
	width: 100%;
}
a {
	color: #00cae6;
	text-decoration: none;
}
a:hover {
	color: #bba09c;
	text-decoration: none;
} 

h1, h2, h3, h4, h5{
	color: #2f2f2f;
    line-height: 1.4;
    font-family: "Times New Roman",Times,serif;
    font-weight: 700;
    font-style: normal;
	display: block;
    margin: 0 0 0.5em;
}
h1 {
	font-size: 1.733em;
    margin-bottom: 30px;
}
h2 {
	font-size: 1.333em;
}
h3 {
	font-size: 1.133em;
}
h4 {
	font-size: 1.067em
}
p {
	margin: 0 0 15px 0;
}
.listing01 li {
	list-style-type: none;
	padding: 5px 0;
}
/*-------------------------------------------------- Header, Navigation & Footer CSS -----------------------------------------*/
header {
	padding: 45px 0 45px 0;
	z-index: 5;
	position: relative;
	background-color: #ffffff;
}
.logo {
	max-width: 305px;
	margin-right: 0;
}
ul.navbar-nav {
    margin-left: -14px;
}
.navbar-brand {
	padding: 0;
}
.navbar {
	padding: 0px;
	margin: 0 0 0 0;
	background: #9c756f;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}
a.nav-link {
	margin: 15px;
	padding: 0 !important;
	color: #ffffff;
    font-size: 15px;
}
.dropdown-menu {
	background-color: #f3f3f3;
	border-radius: 0px;
	padding: 0px;
	margin: 0px 0 0 0px;
	border: 1px solid #dedede;
	overflow: hidden;
	-webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms;
}
.dropdown-item {
	color: #9c756f;
    padding: 10px 45px 10px 15px;
	font-size: 15px;
}
.searchBar {
    display: inline-flex;
	margin-top: 5px;
}
i.fa.fa-search {
    font-size: 18px;
}
.header-cart-btn {
    position: relative;
    line-height: 26px;
    padding-bottom: 10px;
    border: 0 none;
    margin-left: 19px;
    vertical-align: middle;
    background-color: #f3f3f3;
    color: #545454;
	display: inline-block;
    padding: 8px 20px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
    font-weight: 700;
	font-size: 15px;
	min-width: 109px;
    text-align: center;
}
.header-cart-btn i , .customBtn01 i {
    font-size: 20px;
    line-height: 15px;
    margin-right: 6px;
    position: relative;
    margin-top: -2px;
    vertical-align: middle;
}
footer {
    padding: 60px 0 6px;
    background-color: #fff;
	color: #545454;
}
footer li {
    padding: 0 15px 0 0;
    font-size: 13px;
	display: inline-block;
}
footer a {
    color: #545454;
}
footer a:hover {
    color:#212121;
}
footer p {
	font-size:13px;
}
footer hr {
    margin: 15px 0;
    border-top: 1px solid #f2f2f2
}
/*-------------------------------------------------- Content CSS -----------------------------------------*/
.banner {
	margin-bottom:30px;
}
.categoriesBanner {
	padding: 15px;
}
.categoriesBanner a {
	display:block;
	margin-bottom:30px;
}
.breadcrumb {
	padding: 16px 0px 15px 0;
	font-size: 13px;
	border-bottom: 1px solid #dedede;
	background: none;
	color: #858585;
	margin-bottom: 30px;
}
.breadcrumb a {
	color: #858585;
}
.breadcrumb span {
	padding: 0 19px;
    font-family: monospace;
}
.product-list-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-list-flex-container>.product-list-flex-item {
    width: 50%;
    padding-right: 2%;
}
.product-list-flex-container a, .newsSection a, .subCategories a, .loginButtons a {
	color: #9c756f;
}
.product-list-flex-container a:hover, .newsSection a:hover, .subCategories a:hover, .loginButtons a:hover {
    color: #bba09c;
}
.newsList {
	margin-bottom:20px;
}
.subCategories {
	list-style-type: none;
}
.subCategories li {
	padding-bottom: 3px;
	word-break: break-word;
}
.product {
	padding-bottom: 33px;
}
.productName {
	margin: 15px 0 17px 0; 
	color: #858585;
}
.productPrice {
	color: #2f2f2f;
	font-size: 1.3em;
	line-height: 22px;
	font-family: "Times New Roman",Times,serif;
    font-weight: 700;
    font-style: normal;
}
.product sup {
    top: -0.4em;
}
.imageLargeThumb {
	max-width: 348px;
}
.imageLargeThumb img {
	padding-bottom: 15px;
}
.productPriceLarge {
    font-size: 1.733em;
	padding: 6px 0 36px 0;
}
.certificateThumb img {
	max-width: 100px;
}
.supportingDocuments img {
	margin: 0 0 8px 0;
}
.supportingDocuments a {
	display:inline-block;
	color: #9c756f;
	font-size: 13px;
	line-height: 18px;
}
.supportingDocuments a:hover {
    color: #bba09c;
}
.tableProdDescription {
	margin-bottom: 35px;
}
.supportingDocuments {
	padding-top: 20px;
}
.additionalInfoBlock {
	padding-top: 16px;
}
.cartThumb {
	display: inline-block;
	margin-right:30px;
}
.cartThumb img {
	max-width: 98px;
}
.cart .price {
    text-align: right;
	font-weight: 700;
}
.priceHeading {
    margin: 30px 0px 5px 0;
    font-size: 18px;
    color: #2f2f2f;
    display: block;
	font-weight:700;
}
.cartFinalInfo p {
	font-weight: 600;
	font-size: 15px;
}
.userSettingList li {
    position: relative;
    width: 100%;
    border: 1px dashed rgba(0,0,0,0);
    border-bottom: 1px solid #e6e6e6;
    list-style-type: none;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
	padding: 5px 0;
}
.userName {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #2f2f2f;
    padding-top: 18px;
}
.userSettingList li a {
	color: #9c756f;
	margin-left: 8px;
}
.userSettingList li a i {
	margin-right: 10px;
}
.userSettingList li:last-child {
    border-bottom: 0px solid #e6e6e6;
}
.loginButtons {
	color: #2f2f2f;
}
.loginButtons a {
	font-weight: 600;
	font-size: 13px;
	margin: 0 4px;
}
.page-link {
	background-color: transparent;
}
.paginationOuter {
	border-top: 1px solid #dedede;
	padding-top: 30px;
}
.productListView .product .productName {
	margin-top: 0px;
}
.dropdownMenu {
	display:inline-block;
}
.dropdownMenu select {
    width: auto;
    display: inline-block;
    background: no-repeat;
	margin-left: 10px;
}
.viewIcons {
    margin-left: 10px;
	display:inline-block;
	border: 1px solid #dedede;
    border-radius: 2px;
    padding: 9px 10px 10px 6px;
    height: 37px;
    vertical-align: middle;
}
.viewIcons a {
    color: #858585;
    font-size: 17px;
	margin-left: 4px;
	display: inline-block;
	line-height: normal;
}

/*-------------------------------------------------- Input & Buttons CSS -----------------------------------------*/
.searchBar input[type=search], .searchBar input[type=text] {
    width: 100%;
    margin-bottom: 0;
    padding: 10px 45px 10px 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
	height: 44px;
    border: 0 none;
    background-color: #f3f3f3;
    color: #545454;
	min-width: 300px;
	border-radius:0px;
}
.searchBar .searchButton, .searchBar input[type=submit] {
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 0;
    width: 45px;
    margin: 0;
    border: 0 none;
    background: 0 0;
    text-align: center;
    cursor: pointer;
	color: #545454;

}
.searchBar input[type=search]:focus, .searchBar input[type=search]:hover, .searchBar input[type=text]:focus, .searchBar input[type=text]:hover {
    background-color: #e6e6e6;
    -webkit-transition: background-color 50ms ease-in;
    -moz-transition: background-color 50ms ease-in;
    -ms-transition: background-color 50ms ease-in;
    -o-transition: background-color 50ms ease-in;
    transition: background-color 50ms ease-in;
}
.searchBar input::-webkit-input-placeholder { /* Edge */
  color: #545454;
}

.searchBar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #545454;
}
.searchBar input::placeholder {
  color: #545454;
}
input, select, textarea {
	border: 1px solid #dedede;
    background-color: rgba(133,133,133,.1);
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 0 20px;
	font-size: 1em;
    padding: 8px 10px;
    line-height: 1.42;
	border-radius: 2px;
}
label {
    margin-bottom: 6px;
	display: block;
	text-align:left;
}
.fogotPassword {
    color: #9c756f;
    text-decoration: none;
    margin: 0 0 15px 0;
	display: inline-block;
}
.submitBtn {
	width:auto;
	display: inline-block;
    padding: 8px 20px;
    margin: 0;
    line-height: 1.42;
    text-align: center;
    border: 1px solid transparent;
    font-family: Lato,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #9c756f;
    color: #f3f3f3;
}
.submitBtn:hover {
	background-color: #8f6862;
}
.customBtn01 {
	margin: 0;
	margin-top: 13px;
	width:auto;
	min-width: 170px;
	min-height: 44px;
	display: inline-block;
    padding: 8px 19px;
	border-radius: 2px;
    line-height: 1.77;
    text-align: center;
    border: 2px solid #9c756f;
    font-family: Lato,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14.5px;
    text-transform: uppercase;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    background-color: #9c756f;
    color: #f3f3f3;
}
.customBtn01:hover {
    background-color: #8f6862!important;
	color: #f3f3f3;
}
.transparentBtn  {
    color: #9c756f;
	background-color: transparent;
}
.quantity {
 display: block; }

.quantity .input-text.qty {
 width: 60px;
 height: 41px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #dedede;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 7px 10px 8px;
 width: auto;
 height: 41px;
 background-color: transparent;
 border: 1px solid #dedede;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }
 

/*-------------------------------- Product Documentation page -------------------------------------*/
.flex_container_pd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	margin-bottom: 20px;
}
.rte {
    margin-bottom: 15px;
}
.flex_container_pd > .flex_item_left_1_pd {
    width: 33%;
	text-align: center;
}
.flex_container_pd > .flex_item_right_2_pd {
    width: 67%;
    padding-left: 2%;
}
.rte table {
    table-layout: fixed;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 50%;
}
th, td {
    text-align: left;
    padding: 15px;
    border: 1px solid #dedede;
}
.flex_container_pd_supporting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex_container_pd_supporting > .flex_item_pd_supporting {
    text-align: center;
    width: 20%;
	margin-bottom: 10px;
}
.flex_container_pd_supporting > .flex_item_pd_supporting a img {
	margin-bottom: 7px;
}
a {
    color: #9c756f;
    text-decoration: none;
    background: transparent;
}
img.auto, .grid-item img, .grid-item iframe {
    max-width: 100%;
}
.flex_item_right_2_pd img {
	width: 15%;
	margin-right: 15px;
}
.flex_item_left_1_pd h3 {
	padding-top: 15px;
}
.flex_item_left_1_pd a button {
    border: none;
    background-color: #e6e5e2;
    text-align: center;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
}
p.noResultFound {
    margin: 50px 0 70px 0;
    padding: 25px;
    width: 100%;
    font-size: 20px;
    background: #fff;
    color: #545454;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}
.shippingPageContent .cartProductInfo .cartThumb img {
   	 max-width: 50px;
}
span.cart-count.badge.badge-light.cart-badge--desktop {
    position: absolute;
    top: -9px;
    right: -6px;
    font-size: 14px;
    background: #9c756f;
    color: #fff;
    border-radius: 50%;
    max-width: 32px;
    max-height: 32px;
    text-align: center;
}
.emptyCartIcon i {
    font-size: 80px;
	color: #9c756f;
}
/* -------------------------------- Responsive ------------------------------------- */
 @media (max-width: 991px) {
	.navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
		padding-right: 30px;
		padding-left: 30px;
		display: block;
	}
}
@media (max-width: 767px) {
	header {
		padding: 15px 0 25px 0;
		text-align: center;
	}
	.col-md-8.text-right {
		text-align: center !important;
	}
	.searchBar input[type=search], .searchBar input[type=text] {
		min-width: inherit;
	}
	ul.footerNavigation.text-right {
		text-align: left !important;
		margin-bottom: 10px;
	}
	.imageLargeThumb {
		max-width: 348px;
		margin: 0px auto 20px auto;
	}
	.productListSection .border-left {
		border-left: 0px solid #dedede !important;
	}
	ul.userSettingList {
		margin-bottom: 30px;
	}
	.loginButtons {
		margin: 15px 0;
	}
	.productListView .product .productName {
		margin-top: 15px;
	}
	.viewIcons {
		display: none;
	}
}
@media (max-width: 575px) {
	.col-lg-2.col-md-3.col-sm-4.col-xs-6 {
		width: 50%;
	}
	.product-list-flex-container>.product-list-flex-item {
		width: 100%;
		padding-right: 0%;
	}
}

@media (min-width: 991px) {
	.productListSection .col-md-3 {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.productListSection .col-md-9 {
		-ms-flex: 0 0 80%;
		flex: 0 0 80%;
		max-width: 80%;
	}
	
}
@media (max-width: 518px) {
	.cartBlock {
		width: 100%;
		overflow: scroll;
	}
}
