@media (max-width: 1199px) {
}
@media (max-width: 991px) {
	.navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
		padding-right: 30px;
		padding-left: 30px;
		display: block;
	}
}
@media (max-width: 767px) {
	header {
		padding: 15px 0 25px 0;
		text-align: center;
	}
	.col-md-8.text-right {
		text-align: center !important;
	}
	.searchBar input[type=search], .searchBar input[type=text] {
		min-width: inherit;
	}
	ul.footerNavigation.text-right {
		text-align: left !important;
		margin-bottom: 10px;
	}
	.imageLargeThumb {
		max-width: 348px;
		margin: 0px auto 20px auto;
	}
	.productListSection .border-left {
		border-left: 0px solid #dedede !important;
	}
	ul.userSettingList {
		margin-bottom: 30px;
	}
}
@media (max-width: 575px) {
	.col-lg-2.col-md-3.col-sm-4.col-xs-6 {
		width: 50%;
	}
	.product-list-flex-container>.product-list-flex-item {
		width: 100%;
		padding-right: 0%;
	}
}

@media (min-width: 991px) {
	.productListSection .col-md-3 {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.productListSection .col-md-9 {
		-ms-flex: 0 0 80%;
		flex: 0 0 80%;
		max-width: 80%;
	}
}
@media (max-width: 518px) {
	.cartBlock {
		width: 100%;
		overflow: scroll;
	}
}